<html>
	<head>
	</head>
	<body>
		
		<h1>Code Breaker</h1>
		
		<form action="/palabra" method="get">
  			Palabra: <input type="text" name="p" autofocus><br>
  			<input type="submit" value="Submit">
		</form>
		
	</body>
</html>


